@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text-c: #dab58a;
  --transition-time: 1s;
  --padding-space: 20px;
}

*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow-y: hidden; /* To make sure scroll snap works well */
  color: var(--text-c);
}

body {
  height: 100vh;
  font-family: "Bebas Neue", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background-color: #f9f9f9;
}

body [data-scroll-snap="true"] {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  width: 100vw;
  max-width: 1250px;
  margin: auto;
  padding: 0px var(--padding-space);
}

/* Hidden transition styles */

.transition {
  opacity: 0;
}

.intersecting {
  transition: var(--transition-time);
  transition-property: opacity;
  opacity: 1;
}

/* End of Hidden transition styles */

.nav {
  position: fixed;
  width: 100vw;
  top: 0%;
  left: 0%;
  z-index: 1000;
  background-color: transparent;
  backdrop-filter: blur(3px);
  padding: 15px 40px;
  gap: clamp(40px, 12vw, 300px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav .toggle {
  display: none;
}

.nav .logo {
  --size: 40px;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  object-fit: cover;
}

.nav .links {
  display: flex;
  gap: clamp(7px, 3vw, 50px);
  align-items: center;
  font-size: 1.05rem;
}

.nav .links .link {
  position: relative;
}

.nav .links .link::after {
  content: "";
  position: absolute;
  background-color: var(--text-c);
  bottom: 2px;
  left: 0px;
  width: 100%;
  height: 2px;
  scale: 0 1;
  transition: 0.15s scale;
}

.nav .links .link:hover::after {
  scale: 1 1;
}

main {
  width: 100vw;
  height: 100dvh;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}

main .content {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px var(--padding-space) var(--padding-space) var(--padding-space);
}

main .content.transition {
  opacity: 1;
  backdrop-filter: blur(0px);
}
main .content.intersecting {
  transition-property: background-color, backdrop-filter;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
}

main .content .intersecting {
  transition-delay: var(--transition-time);
}

main .content .sample-report {
  margin-top: 25px;
  padding: 10px 25px;
  border-radius: 25px;
  background-color: var(--text-c);
  color: rgba(230, 230, 230, 0.8);
}
main .content .sample-report.intersecting {
  opacity: 0.95;
}

main .content .text {
  --h1-c: rgba(245, 222, 179, 0.9);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main .content .text .questions {
  color: var(--h1-c);
  margin-top: 35px;
  position: relative;
}

main .content .text .questions p {
  font-size: 17px;
  position: absolute;
  width: max-content;
  top: 0%;
  left: 50%;
  translate: -50% 0%;
  opacity: 0;
  transition: opacity 1s;
}
main .content .text .questions p.visible {
  opacity: 1;
  z-index: 5;
}

h1 {
  font-size: 3rem;
  color: rgba(245, 245, 245, 0.9);
  word-spacing: 3px;
  text-transform: uppercase;
}

h1 .main-text {
  margin-bottom: -7.5px;
  color: var(--h1-c);
  font-size: 4.5rem;
}

h1.transition {
  opacity: 0;
  translate: 0% 10%;
}
h1.intersecting {
  opacity: 1;
  translate: 0%;
  transition-property: opacity, translate;
}

main footer {
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: scroll-available 2s infinite;
}

/* Media Queries */
@media only screen and (max-width: 850px) {
  :root {
    --padding-space: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  h1 .main-text {
    font-size: 4rem;
    margin-bottom: 15px;
    line-height: 0.9;
  }

  .nav {
    justify-content: space-between;
    padding: 15px 30px;
  }

  .nav .toggle {
    display: block;
    cursor: pointer;
    z-index: 1002;
  }

  .nav .toggle:not(.open) .open-i {
    display: block;
  }
  .nav .toggle:not(.open) .close-i {
    display: none;
  }
  .nav .toggle.open .open-i {
    display: none;
  }
  .nav .toggle.open .close-i {
    display: block;
  }

  .nav .links {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100dvh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    gap: clamp(10px, 10vh, 60px);
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 1001;
    font-size: 1.3rem;
    translate: 0 -100%;
    transition: 0.5s translate;
  }

  .nav .links.open {
    translate: 0 0;
  }
}

/* Animations */

@keyframes scroll-available {
  0% {
    translate: 0% 0%;
  }

  50% {
    translate: 0% 15%;
    scale: 1 1.1;
  }

  100% {
    translate: 0% 0%;
  }
}
